@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@100&display=swap');

h1 {
  color: rgb(8,8,8);
  font-size: 50px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 74px;
}
h2 {
  color: #575F7D;
  font-size: 30px;
  font-family: gt-super;
  font-weight: 500;
  line-height: 74px;
  margin: 0 auto;
}
body {
  color: #575F7D;
  font-family: 'Roboto';
  font-size: 15 px;
  line-height: 30px;
}
a {
  color: 264653;
  text-decoration: none;
  font-family: 'Roboto';
}
a:hover {
  text-decoration: underline;
}
div {
  background: F7F9FC;
  color: #575F7D;
  text-align: center;
}
/* or */
.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 3%;
  text-align: center;
  margin-bottom: 10px;
}
.footer {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 3%;
  text-align: center;
  margin: 0 auto;
}
.icons {
  list-style: none;
  font-size: 30px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  }
.fab {
  margin: 10px;
}
.img-circle {
  border-radius: 50%
}
.btn {
  color: white;
  border-radius: 4px;
  background-color: #6B72E1;;
  border-color: #575F7D;
  padding: 15px 20px;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
